# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
db.sqlite3-journal

# Media / Uploaded files
media/
staticfiles/
static_root/

# Environments & Secrets
.env
.venv
venv/
ENV/
env/
*.log

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
